<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      WIKISTARWAR
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <!--<ion-button expand="full" ion-button block  (click)="cargardatosoffline();"> Baciar SQL pelicula </ion-button>-->
  <ion-item>
    <ion-label>Select list</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="CargList($event)">
      <ion-select-option value="films">Peliculas</ion-select-option>
      <ion-select-option value="people">Personajes</ion-select-option>
      <ion-select-option value="planets">Planetas</ion-select-option>
    </ion-select>
  </ion-item>
  

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'films'">
      <ion-list>
          <ion-item button detail lines="inset" *ngFor="let item of films"  >
            {{item.title}}
          </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'people'">
      <ion-list>
        <ion-item button detail lines="inset" *ngFor="let person of persone" >
          {{ person.names}}
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'planets'">
      <ion-list>
        <ion-item button detail lines="inset" *ngFor="let plan of planete" >
          {{ plan.names}}
        </ion-item>
      </ion-list>
    </div>
  </div>
  

</ion-content>