<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information?.title }} {{ information?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="information">
      <ion-card-header>
        <ion-card-title>
          {{ information.title }}
          {{ information.name }}
        </ion-card-title>
        <ion-card-subtitle>
          <p>{{ information.opening_crawl }}
          </p>
          <p>{{ information.height }}
          </p>
          <p>{{ information.mass }}
          </p>
          <p>{{ information.gender }}
          </p>
          <p>{{ information.rotation_period}}
          </p>
          <p>{{ information.orbital_period}}            
          </p>
          <p>{{ information.diameter }}
          </p>
        </ion-card-subtitle>
      </ion-card-header>
      
    </ion-card>
    
  </ion-content>